@inherits UmbracoTemplatePage
@{
	var homepage = Model.Content.AncestorOrSelf(1);
	var nodes = homepage.DescendantsOrSelf().Where(x => x.GetPropertyValue<bool>("showMainNavigation"));
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="../">@homepage.GetPropertyValue("festivalTitle")</a>
				@if (nodes != null && nodes.Count() > 0)
				{
					<div class="nav-collapse collapse" id="main-menu">
						<ul class="nav" id="main-menu-left">
							@foreach (var node in nodes) {
								<li @Html.Raw(node.Id==Model.Content.Id ? "class=\"active\"" : "")><a href="@node.Url">@node.Name</a></li>
							}
						</ul>
						@if (homepage.HasValue("festivalTicketUrl"))
						{
							<ul class="nav pull-right" id="main-menu-right">
								<li><a target="_blank" href="@homepage.GetPropertyValue("festivalTicketUrl")">Tickets</a></li>
							</ul>
						}
					</div>
				}
			</div>
		</div>
	</div>
}