@inherits DitFloView<Sections>

@foreach (var item in Model.View.SectionItems)
{
<!-- @item.Type.ToUpperInvariant() -->

<section class="@item.CssClass" id="@item.Alias">
    @Html.Partial(item.Type, item)
</section>

<!-- / @item.Type.ToUpperInvariant() -->
}
