@inherits UmbracoTemplatePage
<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8" />
		<title>@Html.Partial("MetaTitle")</title>
		@Umbraco.Field("metaKeywords", insertBefore: "<meta name='keywords' content='", insertAfter: "'/>")
		@Umbraco.Field("metaDescription", insertBefore: "<meta name='description' content='", insertAfter: "'/>")
		@RenderSection("HtmlHead", false)
       	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/@Umbraco.Field("stylePicker", recursive: true)/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- BootSwatch -->
        <link href="http://bootswatch.com/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://bootswatch.com/css/bootswatch.css" rel="stylesheet">

        <link href="/css/override.css" rel="stylesheet">
     
	</head>
	<body>


        <body>
    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1><a href="/" title="@Umbraco.Field("festivalTitle", recursive: true)">@Umbraco.Field("festivalTitle", recursive: true)</a></h1>
        
      <p class="lead">@Umbraco.Field("festivalDescription", recursive: true)</p>
    </div>
    <div class="span4 offset2">

      <div class="well" style="padding: 15px 15px 0 15px;">
        <a href="http://carboncostume.com/apple-store-genius/" target="_blank">
          <span style="float: left; margin: 0 15px 15px 0;">
              <img src="@Umbraco.Field("festivalLogo", recursive: true)" alt="logo" height="175" width="175" />
          </span>
        </a>
        <a href="http://carboncostume.com" target="_blank">
          <h4 style="margin-bottom: 0.4em; color: #fff;">Carbon Costume</h4>
          <span style="display: block; margin-bottom: 1em; color: #fff;">DIY costumes using everyday gear.</span>
        </a>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
  <div class="subnav">
    @Html.Partial("NavigationMain")
  </div>
</header>				
			

 @if (IsSectionDefined("PageHeader")) {
      @RenderSection("PageHeader");
  }
  else { 
     
      @Html.Partial("NavigationBreadcrumb")
    if (Model.Content.HasValue("PageAlert"))
    {
        <div class="row">
	  <div class="span12">
	      <div class="alert alert-block">
	        <a class="close">×</a>
	        <h4 class="alert-heading">@Model.Content.GetProperty("PageAlertTitle").Value</h4>
            @Html.Raw(Model.Content.GetProperty("PageAlert").Value)
	      </div>
	  </div>
  </div>
     
 }   
 
 
        

           


   
<div class="page-header">
	@Umbraco.Field("pageTitle", "pageName", insertBefore: "<h1>", insertAfter: "</h1>")
</div>
     
    
     
     
	@Umbraco.Field("pageText")
  }
	  
@RenderSection("HtmlBodyContent", false)


     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">


         

        <p class="pull-right"><a href="#top">Back to top</a></p>

           @Html.Partial("NavigationFooter")

        Made by <a href="http://thomaspark.me">Thomas Park</a>. Contact him <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.<br>
        Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br>
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Hosted on <a href="http://pages.github.com/">GitHub</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald Hiller</a>.<p></p>
      </footer>

    </div><!-- /container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/jquery.smooth-scroll.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootswatch.js"></script>
        @Umbraco.Field("analyticsCode", recursive: true)
	</body>
</html>