@inherits UmbracoTemplatePage
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@Html.Partial("MetaTitle")</title>
	@Umbraco.Field("metaKeywords", insertBefore: "<meta name='keywords' content='", insertAfter: "'/>")
	@Umbraco.Field("metaDescription", insertBefore: "<meta name='description' content='", insertAfter: "'/>")
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/bootswatch/@Umbraco.Field("stylePicker", recursive: true)/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/bootswatch/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/bootswatch/css/bootswatch.css" />
	@RenderSection("HtmlHead", false)
	<link rel="stylesheet" href="/css/override.css" />
</head>
<body id="top" data-offset="80">
	@Html.Partial("NavigationMain")
	<div class="container">
		<header class="jumbotron subhead" id="overview">
			<div class="row">
				<div class="span6">
					<h1>@Umbraco.Field("festivalTitle", recursive: true)</h1>
					<p class="lead">@Umbraco.Field("festivalDescription", recursive: true)</p>
				</div>
				<div class="span2 offset4">
					<a href="/">
						<img src="@Umbraco.Field("festivalLogo", recursive: true)" alt="logo" />
					</a>
				</div>
			</div>
		</header>

		@if (IsSectionDefined("PageHeader"))
		{
			@RenderSection("PageHeader");
		}
		else
		{
			@Html.Partial("NavigationBreadcrumb")

			if (Model.Content.HasValue("pageAlert"))
			{
				<div class="row">
					<div class="span12">
						<div class="alert alert-block">
							<a class="close">×</a>
							<h4 class="alert-heading">@Umbraco.Field("pageAlertTitle")</h4>
							@Umbraco.Field("pageAlert", encoding: RenderFieldEncodingType.Html)
						</div>
					</div>
				</div>
			}

			<div class="page-header">
				<h1>@Umbraco.Field("pageTitle", "pageName")</h1>
			</div>
	
			@Umbraco.Field("pageText")
		}

		@RenderSection("HtmlBodyContent", false)

		<hr />

		<footer id="footer">
			<p class="pull-right"><a href="#top">Back to top</a></p>
			@Html.Partial("NavigationFooter")
			<span>Festival Starter Kit made by <a href="http://www.umbrellainc.co.uk">Umbrella</a>.</span><br />
			<span>Theme by <a href="http://bootswatch.com/">Bootswatch</a>, based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</span>
		</footer>
	</div>

	<script src="/js/jquery-1.10.1.min.js"></script>
	<script src="/js/jquery.smooth-scroll.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootswatch.js"></script>
	@RenderSection("HtmlBodyFooter", false)
	@Umbraco.Field("analyticsCode", recursive: true)
</body>
</html>
