@inherits UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlHead
{
	@Umbraco.Field("verificationCode")
}

@section HtmlBodyContent
{

	@if (Model.Content.HasValue("festivalTwitterUsername"))
	{
		<a href="http://twitter.com/@Model.Content.GetPropertyValue("festivalTwitterUsername")">@Model.Content.GetPropertyValue("festivalTwitterUsername")</a>
	}

	@Umbraco.Field("festivalStartDate", formatAsDateWithTime: true, formatAsDateWithTimeSeparator: " | ")

	@if (Model.Content.HasValue("festivalTicketUrl"))
	{
		<a href="@Model.Content.GetPropertyValue("festivalTicketUrl")">Tickets</a>
	}
	else
	{
		<span>Tickets sold out!</span>
	}
	
	<ul class="thumbnails thumbnails-centered">
		@foreach (var speaker in Model.Content.Descendants("SpeakerPage"))
		{
			<li>
				<a href="@speaker.NiceUrl()">
					<div class="thumbnail">
						<img class="img-polaroid" src="@speaker.GetPropertyValue("speakerPhoto")" style="width:140px;height:140px;" width="140px" height="146px" alt="@speaker.Name" />
						@Umbraco.Coalesce(speaker.GetPropertyValue("pageTitle"), speaker.Name)<br>
						<small>@speaker.GetPropertyValue("pageText")</small>
				</div>
				</a>
			</li>
		}
	</ul>

	<!-- Links to View all Speakers; View full schedule -->

	<!-- Venue details + link -->

	<!-- Sponsors -->
}