@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{	  
	<table class="table table-bordered table-striped table-hover">
		@{ var maxSessions = Model.Content.Children.Max(x => x.Children.Count()); }
		@foreach (var timeslot in Model.Content.Children)
		{
			<tr>
				<th>@timeslot.Name</th>
				@{ var numSessions = timeslot.Children.Count(); }
				@foreach (var session in timeslot.Children)
				{
					if (session.IsDocumentType("SessionPage"))
					{
						<td>
							<a href="@session.NiceUrl()">@session.Name</a>
						</td>
						if (session.IsLast())
						{
							for (int i = 0; i < maxSessions - numSessions; i++)
							{
								<td>
									<span>&nbsp;</span>
								</td>
							}
						}
					}
					else if (session.IsDocumentType("SessionTimeout"))
					{
						<td colspan="@maxSessions">
							<em>@session.Name</em>
						</td>
					}
				}
			</tr>
		}
	</table>
}