@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ Layout = "FestivalStarterKit.cshtml"; }

@section HtmlBodyContent
{
	<div class="row">
		<div class="span12">
			<div class="block team margin-top-large" id="team">
				@foreach (var speaker in Model.Content.Descendants("SpeakerPage"))
				{
					<div class="media">
						<div class="pull-left">
							<img src="@speaker.GetPropertyValue("speakerPhoto")" width="75" class="img-polaroid media-object" alt="@speaker.Name" />
						</div>
						<div class="media-body">
							<h4 class="media-heading">@speaker.Name</h4>
							@speaker.GetPropertyValue("pageText")
							<ul class="inline">
								@if (speaker.HasValue("twitter")) {
									<li><a href="@(speaker.GetPropertyValue<string>("twitter"))"><i class="icon-twitter"></i>Twitter</a></li>
								}
								@if (speaker.HasValue("facebook")) {
									<li><a href="@(speaker.GetPropertyValue<string>("facebook"))"><i class="icon-facebook"></i>Facebook</a></li>
								}
								@if (speaker.HasValue("linkedIn")) {
									<li><a href="@(speaker.GetPropertyValue<string>("linkedIn"))"><i class="icon-linkedin"></i>LinkedIn</a></li>
								}
								@if (speaker.HasValue("google")) {
									<li><a href="@(speaker.GetPropertyValue<string>("google"))"><i class="icon-google-plus"></i>Google+</a></li>
								}
							</ul>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}